.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "roboto";
  padding-top: 10px;
  background-color: black;
}

@media screen and (min-width: 767px) {
  .small-header-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    display: none;
  }

  .navbar-toggler {
    border-color: white;
  }
}

.unordered-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  list-style-type: none;
  margin-right: 20px;
  font-family: "roboto";
  color: white;
}

.list:hover {
  color: rgb(0, 255, 42);
}

.link {
  text-decoration: none;
}

.name {
  font-family: "roboto";
  color: white;
}

.name:hover {
  color: rgb(0, 255, 42);
}
