.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "roboto";
  padding-top: 10px;
  background-color: rgb(97, 42, 170);
  width: 100vw;
  position: sticky;
  top: 0;
}

.pic {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-bottom: 10px;
}

.navbar {
  display: none;
}

.unordered-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  list-style-type: none;
  margin-right: 20px;
  font-family: "roboto";
  color: white;
  transition: 1s;
}

.list:hover {
  color: yellow;
  transform: scale(1.3);
  z-index: 2;
}

.link {
  text-decoration: none;
}

.name {
  font-family: "roboto";
  color: white;
}

.name:hover {
  color: rgb(0, 255, 42);
}

@media screen and (max-width: 767px) {
  .header-container {
    display: none;
  }

  .navbar-toggler {
    border-color: white;
  }

  .navbar {
    display: block;
  }
}
