.contact-container {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.message-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-family: "roboto";
  outline: none;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 5px;
}

.button {
  width: 100%;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  font-family: "roboto";
}

.icon {
  font-size: 20px;
  color: blue;
}

.social-icon {
  font-size: 45px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 50px;
  padding: 5px;
  color: blueviolet;
}

.message {
  width: 30%;
}

.message > h5 {
  color: blueviolet;
  font-style: italic;
}

.get-touch > h5 {
  color: blueviolet;
  font-style: italic;
  margin-top: 15px;
}

.get-touch > h6 {
  color: rgb(68, 0, 255);
  line-height: 5px;
}

@media screen and (max-width: 767px) {
  .message {
    width: 80%;
    margin-top: 70px;
    font-size: 15px;
    height: auto;
  }

  .get-touch {
    width: 80%;
    margin-top: 20px;
    font-size: 13px;
    height: auto;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .input {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(156, 152, 152);
  }

  .button {
    width: 50%;
  }

  .social-icon {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 0px;
    color: blue;
  }
}
