.message-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.message {
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .message {
    width: 300px;
  }

  .get-touch {
    width: 300px;
  }
}

.input {
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  font-family: "roboto";
  color: grey;
  outline: none;
}

.button {
  width: 300px;
  height: 50px;
  background-color: blueviolet;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  font-family: "roboto";
}

.icon {
  font-size: 20px;
}

.social-icon {
  font-size: 45px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 50px;
  padding: 5px;
}
