.contact-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.input {
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  font-family: "roboto";
  color: grey;
  outline: none;
}

.button {
  width: 300px;
  height: 50px;
  background-color: blueviolet;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  font-family: "roboto";
}

.icon {
  font-size: 20px;
}

.social-icon {
  font-size: 45px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 50px;
  padding: 5px;
}

@media screen and (max-width: 767px) {
  .message {
    width: 300px;
    height: 180px;
    margin-top: 70px;
    font-size: 15px;
  }

  .get-touch {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    font-size: 15px;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    overflow-y: scroll;
  }

  .input {
    width: 250px;
  }

  .button {
    width: 250px;
  }

  .contact-container {
    min-height: 100vh;
    width: 100vw;
  }
}
