.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("https://e0.pxfuel.com/wallpapers/329/765/desktop-wallpaper-web-design-dark-developer.jpg");
  background-position: center;
  background-size: cover;
}

.profile-name {
  font-family: "roboto";
  font-weight: bold;
  color: white;
  font-size: 40px;
}

.job-description {
  font-family: "bree serif";
  font-weight: bold;
  font-style: italic;
  color: rgb(27, 185, 48);
  font-size: 25px;
  position: relative;
}

.job-description::after {
  content: "";
  position: relative;
  border-left: 3px solid rgb(195, 201, 15);
  animation: typing 2.8s steps(20) infinite;
  background: rgb(98, 53, 231);
}

@keyframes typing {
  100% {
    left: 10%;
    margin: 0 200px 0 -200px;
  }
}

@media screen and (max-width: 767px) {
  .home-container {
    width: 100vw;
  }

  .profile-name {
    text-align: center;
    font-size: 30px;
  }

  .job-description {
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .middle-container {
    background-size: auto;
  }
}
