.home-container {
  background-image: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg");
  background-size: cover;
  height: 100vh;
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.profile-name {
  font-family: "roboto";
  font-weight: bold;
  color: white;
  font-size: 40px;
}

.job-description {
  font-family: "bree serif";
  font-weight: bold;
  font-style: italic;
  color: white;
  font-size: 25px;
}
