.home-container {
  background-color: white;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.profile-name {
  font-family: "roboto";
  font-weight: bold;
  color: rgb(148, 23, 148);
  font-size: 40px;
  font-style: italic;
}

.job-description {
  font-family: "bree serif";
  font-weight: bold;
  font-style: italic;
  color: rgb(92, 126, 23);
  font-size: 25px;
  position: relative;
}

.job-description::after {
  content: "";
  position: relative;
  border-left: 3px solid rgb(98, 53, 231);
  animation: typing 2.8s steps(20) infinite;
  background: rgb(98, 53, 231);
}

@keyframes typing {
  100% {
    left: 10%;
    margin: 0 200px 0 -200px;
  }
}

@media screen and (max-width: 767px) {
  .home-container {
    width: 100vw;
  }

  .profile-name {
    text-align: center;
    font-size: 30px;
  }

  .job-description {
    text-align: center;
    font-size: 20px;
  }
}
