.home-container {
  background-image: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.profile-name {
  font-family: "roboto";
  font-weight: bold;
  color: white;
  font-size: 40px;
  color: rgb(195, 226, 43);
  font-style: italic;
}

.job-description {
  font-family: "bree serif";
  font-weight: bold;
  font-style: italic;
  color: white;
  font-size: 25px;
  border-right: 3px solid yellow;
}

@media screen and (max-width: 767px) {
  .home-container {
    width: 100vw;
  }

  .profile-name {
    text-align: center;
    font-size: 30px;
  }

  .job-description {
    text-align: center;
    font-size: 20px;
  }
}
