.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_1280.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 30px;
}

.profile-name {
  font-family: "roboto";
  font-weight: bold;
  color: white;
  font-size: 40px;
}

.job-description {
  font-family: "bree serif";
  font-weight: bold;
  font-style: italic;
  color: rgb(27, 185, 48);
  font-size: 25px;
  position: relative;
}

.job-description::after {
  content: "";
  position: relative;
  border-left: 3px solid rgb(195, 201, 15);
  animation: typing 2.8s steps(20) infinite;
  background: rgb(98, 53, 231);
}

.connect-button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-family: "roboto";
  color: yellow;
  padding: 7px;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 700;
}

.connect-button:hover {
  transform: scale(1.1);
  z-index: 1.1;
  font-style: italic;
}

.job {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.profile-pic {
  width: 25%;
  height: 40%;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  align-self: flex-end;
  margin-right: 30px;
  box-shadow: 3px 3px yellow;
}

@keyframes typing {
  100% {
    left: 10%;
    margin: 0 200px 0 -200px;
  }
}

@media screen and (max-width: 767px) {
  .home-container {
    width: 100vw;
  }

  .profile-pic {
    align-self: center;
    width: 80%;
    margin-top: 60px;
    margin-bottom: 20px;
    box-shadow: 0px 0px;
  }

  .job {
    font-size: 15px;
    text-align: center;
    width: 90%;
  }

  .profile-name {
    text-align: center;
    font-size: 30px;
  }

  .job-description {
    text-align: center;
    font-size: 20px;
  }

  .middle-container {
    background-size: auto;
  }
}
