.about-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 10px;
}

.picture {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  margin-right: 100px;
  border: 1px solid goldenrod;
}

#profile-name {
  font-family: "roboto";
  color: yellow;
  font-size: 18px;
  font-style: italic;
}

.special {
  font-family: "roboto";
  color: white;
  font-weight: bold;
}

.profile-cont {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.skills > p {
  color: white;
}

.skills > h4 {
  color: rgb(95, 216, 79);
  font-size: 22px;
  font-style: italic;
  text-decoration: underline;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(107, 62, 179);
  width: 90%;
}

.description {
  width: 50%;
  font-family: "bree serif";
  font-style: italic;
  color: white;
}

.star {
  color: gold;
}

@media screen and (max-width: 767px) {
  .about-container {
    margin-top: 50px;
    width: 100%;
  }

  .picture {
    margin-left: 25px;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 400px;
    width: 100%;
    background-color: rgb(107, 62, 179);
    padding: 20px;
  }

  .description {
    width: 100%;
    font-size: 15px;
  }

  .skills {
    height: 200px;
    margin-bottom: 40px;
    font-size: 15px;
    margin-left: 25px;
  }

  .profile-cont {
    height: 180px;
    margin-top: 40px;
  }

  #profile-name {
    font-size: 15px;
  }

  .profile-name-container {
    width: 100%;
    margin-right: 5px;
  }
}
