.about-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  margin-right: 100px;
  border: 1px solid goldenrod;
}

#profile-name {
  font-family: "roboto";
  color: black;
  font-size: 18px;
  font-style: italic;
}

.special {
  font-family: "roboto";
  color: blue;
  font-weight: bold;
}

.profile-cont {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  padding: 20px;
  width: 90vw;
  margin-top: 70px;
  border-radius: 10px;
  background-color: white;
}

.description {
  width: 800px;
}

.star {
  color: gold;
}

@media screen and (max-width: 767px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description {
    width: 400px;
    margin-bottom: 20px;
    height: 180px;
    font-size: 15px;
  }

  .about-container {
    overflow-y: scroll;
  }

  .skills {
    height: 200px;
    margin-bottom: 40px;
    font-size: 15px;
  }

  .profile-cont {
    height: 180px;
    margin-top: 40px;
  }

  #profile-name {
    font-size: 15px;
  }
}
