body {
  margin: 0px;
  box-sizing: border-box;
}

.app-container {
  background-image: linear-gradient(
    to right,
    whitesmoke 15%,
    rgb(219, 232, 27)
  );
  background-size: cover;
  min-height: 100vh;
}
