.pictures {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

.unordered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.names {
  font-family: "roboto";
  color: blue;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
