.pictures {
  width: 170px;
  height: 170px;
  border: 1px solid rgb(1, 17, 7);
  border-radius: 100px;
}

.unordered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.names {
  font-family: "roboto";
  color: blueviolet;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  font-style: italic;
}
